.film {
  display: flex;
  padding: 50px 7% 0;

  &__portrait {
    flex: 1;
  }

  &__info {
    flex: 2;
    margin: 0 0 0 30px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-bottom: 25px;
  }
}
