.card {
  font-size: 0;

  &__portrait {
    position: relative;
    overflow: hidden;
    background: #000;
    font-size: 0;

    &:hover {
      .card__button {
        bottom: 30px;
        opacity: 1;
      }

      .card__image,
      .card__ribbon {
        opacity: 0.5;
      }
    }
  }

  &__ribbon {
    background: #ffe100;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    opacity: 1;
    z-index: 3;
    transition: opacity 0.8s ease-in-out;
  }

  &__points {
    color: #000;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 0;
    padding: 13px 20px;
    display: block;
    letter-spacing: 1px;
  }

  &__image {
    width: 100%;
    height: auto;
    transition: opacity 0.8s ease-in-out;
    border-radius: 3px;
  }

  &__button {
    background: transparent;
    position: absolute;
    z-index: 2;
    width: 50%;
    margin: 0 auto;
    left: 25%;
    bottom: -60px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 17px;
    padding: 5px 0;
    color: #fff;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      font-size: 14px;

      path {
        stroke: #fff;
      }
    }

    &:hover {
      background: darken(#bf0785, 5%);
      border-color: darken(#bf0785, 5%);
      cursor: pointer;
    }
  }

  &__info {
    margin-top: 15px;
  }

  &__name {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 21px;
  }
}
